# .gitignore 파일 내용
.pypirc

# 파이썬 부산물 제외
__pycache__/
*.pyc
build/
dist/
*.egg-info/

# 가상환경 폴더 제외 (중요!)
.venv/
venv/
env/

# 데이터 파일 제외 (가장 중요!!!)
*.xlsx
*.csv
*.xls

# PyCharm 설정 파일 제외
.idea/

# 배포 가이드 (비공개)
DEPLOY_GUIDE.md
